<div class="container">
    <div class="card">
      <div class="card-header">
        It is now <%=@time%>
      </div>
      <div class="card-body">
        <h5 class="card-title">File Names</h5>

        <%= content_tag :div,
            id: "files",
            data: @files.to_json do %>

            <%= javascript_pack_tag 'files.jsx' %>

        <% end %>

        <p>
          Say <%= link_to "Hello", say_hello_path %> again.
        </p>
      </div>
    </div>
</div>
<!--
Addition: <%= 1+2 %>
Concatenation: <%= "cow" + "boy" %>
Time in one hour: <%= 1.hour.from_now.localtime %>
-->
